<div class="row">
	<div class="col-md-12">
		<%= f.association :department, include_blank: false %>
	</div>
	<div class="col-md-12">
		<%= f.simple_fields_for :person do |pe| %>
			<%= render 'people/first_contact_form', f: pe %>
		<% end %>
	</div>
</div>