<div class="row">
  <h4 class="col-md-offset-1"><%= Beneficiary.model_name.human(count: 1) %></h4>
  <div class="col-md-5 col-md-offset-1">
    <%= f.association :department, include_blank: false %>
  </div>
  <div class="col-md-12 col-md-offset-1">
    <%= f.simple_fields_for :person do |pe| %>
      <%= render 'people/form', f: pe %>
    <% end %>
  </div>
</div>
