<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= f.association :department, include_blank: false %>
  </div>
  <div class="col-md-12 col-md-offset-2">
    <%= f.simple_fields_for :person do |pe| %>
      <%= render 'people/form', f: pe %>
    <% end %>
  </div>
</div>
