<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label>Núcleo:</label>
				<div>
					<span style="text-align: left" class="control-label col-sm-10"><%= beneficiary.department.name %></span>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<%= render 'people/show', person: beneficiary.person %>
		</div>
	</div>
</div>