<div class="modal fade" style="margin: auto; width: 70%; padding: 10px; background-color: white; height: 50%; border-radius: 20px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-heading">Modal header</h3>
  </div>
  <div class="modal-body" style="padding: auto;">
    <p>One fine body…</p>
  </div>
</div>