<!-- page content -->
<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Usuários</h3>
            </div>
            <div class="title_right">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="x_title">
                        <h2>Listagem</h2>
                        <%= link_to "Adicionar Usuário", new_registration_path(current_user), class: "btn btn-primary pull-right" %>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Acronym</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.acronym %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @states %>
</div>
</div>
</div>
</div>
</div>
</div>
